@page
@model Backoffice.RazorPages.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Produto</h4>
<hr />
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ProductModel.Code" class="control-label"></label>
                <input asp-for="ProductModel.Code" class="form-control" />
                <span asp-validation-for="ProductModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Name" class="control-label"></label>
                <input asp-for="ProductModel.Name" class="form-control" />
                <span asp-validation-for="ProductModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.Description" class="control-label"></label>
                <input asp-for="ProductModel.Description" class="form-control" />
                <span asp-validation-for="ProductModel.Description" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <label asp-for="ProductModel.Price" class="control-label"></label>
                <input asp-for="ProductModel.Price" class="form-control decimal" />
                <span asp-validation-for="ProductModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.IllustrationId" class="control-label"></label>
                <select asp-for="ProductModel.IllustrationId" class="form-control" asp-items="ViewBag.IllustrationId"></select>
                <span asp-validation-for="ProductModel.IllustrationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductModel.ProductTypeId" class="control-label"></label>
                <select asp-for="ProductModel.ProductTypeId" class="form-control" asp-items="ViewBag.ProductTypeId"></select>
                <span asp-validation-for="ProductModel.ProductTypeId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <hr />
            <h4>Atributos do Produto</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Type)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Code)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductModel.ProductAttributes[0].Price)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProductModel?.ProductAttributes?.Count > 0)
                    {
                        for (int i = 0; i < Model.ProductModel.ProductAttributes.Count; i++)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" asp-for="ProductModel.ProductAttributes[i].Id" />
                                    <input type="hidden" asp-for="ProductModel.ProductAttributes[i].ToRemove" class="to-remove" />
                                    <select asp-for="ProductModel.ProductAttributes[i].Type" asp-items="Html.GetEnumSelectList<ApplicationCore.Entities.ProductAttributeType>()" class="form-control"></select>
                                    <span asp-validation-for="ProductModel.ProductAttributes[i].Type" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="ProductModel.ProductAttributes[i].Code" class="form-control" />
                                    <span asp-validation-for="ProductModel.ProductAttributes[i].Code" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="ProductModel.ProductAttributes[i].Name" class="form-control" />
                                    <span asp-validation-for="ProductModel.ProductAttributes[i].Name" class="text-danger"></span>
                                </td>
                                <td>
                                    <input asp-for="ProductModel.ProductAttributes[i].Price" class="form-control decimal" />
                                    <span asp-validation-for="ProductModel.ProductAttributes[i].Price" class="text-danger"></span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger remove">Remover</button>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <input type="submit" asp-page-handler="AddAttribute" value="Adicionar Atributo" class="btn btn-default" />
                        </td>
                    </tr>
                </tfoot>
            </table>
            <div class="form-group">
                <input type="submit" asp-page-handler="Save" value="Criar" class="btn btn-primary" />
            </div>

        </div>

    </div>
</form>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        $(document).ready(function () {
            $('.remove').on('click', function (e) {
                e.preventDefault();
                var tr = $(this).closest('tr');
                tr.find('.to-remove').val(true);
                tr.hide();
            });
        });
</script>
}
