.esh-basketstatus {
    cursor: pointer;
    display: inline-block;
    float: right;
    position: relative;
    transition: all 0.35s;
}

    .esh-basketstatus.is-disabled {
        opacity: .5;
        pointer-events: none;
    }

.esh-basketstatus-image {
    height: 36px;
    margin-top: .5rem;
}

@media (max-width: 576px) {
    .esh-basketstatus-image {
        height: 26px;
    }
    .esh-basketstatus-image img {
        height: 26px;
        margin-top: 7px;
    }
}

.esh-basketstatus-badge {
    background-color: #FC629D;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 1.6rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-38%);
    transition: all 0.35s;
    width: 1.6rem;
}
@media (max-width: 576px) {
    .esh-basketstatus-badge {
        height: 1rem;
        width: 1rem;
        font-size: 12px;
        margin-top: 11px;
    }
}

.esh-basketstatus-badge-inoperative {
    background-color: #ff0000;
    border-radius: 50%;
    color: #FFFFFF;
    display: block;
    height: 1.5rem;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateX(-38%);
    transition: all 0.35s;
    width: 1.5rem;
}

.esh-basketstatus:hover .esh-basketstatus-badge {
    background-color: #FC2A7B;
    color: #fff;
    transition: all 0.35s;
}
