@using DamaWeb.ViewComponents
@model Basket.BasketComponentViewModel

@{
    ViewData["Title"] = "My Basket";
}

<a class="dnj-basketstatus "
   asp-page="/Basket/Index">
        <div class="dnj-basketstatus-image">
            <img src="~/images/cart.png" />
        </div>
        <div class="dnj-basketstatus-badge">
            @Model.ItemsCount
        </div>
</a>
