@using DamaWeb.ViewComponents
@model Basket.BasketComponentViewModel

@{
    ViewData["Title"] = "My Basket";
}


<a class="nav-link"
   asp-page="/Basket/Index"
   title="O meu Carrinho">
    <i class="fas fa-shopping-cart fa-lg"></i>
</a>
