@page
@model RegisterModel
@{
    ViewData["Title"] = "Registo";
}
<h2>Registo</h2>
<div class="brand-header-block">
    <p>Já tem uma conta? <a asp-page="/Account/Signin">Faça LOGIN aqui!</a></p>

</div>
<div class="account-login-container">
    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <div class="row">

            <div class="col-6">
                <section>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserDetails.Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UserDetails.Email" class="form-control" />
                            <span asp-validation-for="UserDetails.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserDetails.Password" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="UserDetails.Password" class="form-control" />
                            <span asp-validation-for="UserDetails.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserDetails.ConfirmPassword" class="col-md-6"></label>
                        <div class="col-md-10">
                            <input asp-for="UserDetails.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="UserDetails.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <button type="submit" class="esh-catalog-button btn btn-default btn-brand btn-brand-big">&nbsp;REGISTAR&nbsp;</button>
                    </div>
                </section>
            </div>
            
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    @*<script>
        function toggleVisibility() {
            var checked = $('#UserDetails_RegisterAddress').is(':checked');
            if (checked) {
                $('#address-details').removeClass('d-none').addClass('d-block');
            } else {
                $('#address-details').removeClass('d-block').addClass('d-none');
            }
        }
        $(document).ready(function () {
            toggleVisibility();
            $('#UserDetails_RegisterAddress').click(function () {
                toggleVisibility(); 
            });
        });
    </script>*@
}
