@page
@model Backoffice.RazorPages.Pages.ProductType.CreateModel

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Tipo de Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Code" class="control-label"></label>
                <input asp-for="ProductTypeModel.Code" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Description" class="control-label"></label>
                <input asp-for="ProductTypeModel.Description" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.CategoryId" class="control-label"></label>
                <select asp-for="ProductTypeModel.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
