@page
@model Backoffice.RazorPages.Pages.Illustrations.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Ilustração</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IllustrationModel.Code" class="control-label"></label>
                <input asp-for="IllustrationModel.Code" class="form-control" />
                <span asp-validation-for="IllustrationModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IllustrationModel.Name" class="control-label"></label>
                <input asp-for="IllustrationModel.Name" class="form-control" />
                <span asp-validation-for="IllustrationModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IllustrationModel.PictureUri" class="control-label"></label>
                <input asp-for="IllustrationModel.PictureUri" class="form-control" />
                <span asp-validation-for="IllustrationModel.PictureUri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IllustrationModel.IllustrationTypeId" class="control-label"></label>
                <select asp-for="IllustrationModel.IllustrationTypeId" asp-items="ViewBag.IllustrationTypes" class="form-control"></select>
                <span asp-validation-for="IllustrationModel.IllustrationTypeId" class="text-danger"></span>
                <a asp-page="../IllustrationTypes/Create" target="_blank">Criar Novo Tipo</a>
                <a asp-page="../IllustrationTypes/Index" target="_blank">Editar Tipos</a>
            </div>
            <input type="hidden" asp-for="IllustrationModel.Id" />
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
