.dnj-basket {
    min-height: 80vh;
}

.dnj-basket-title {
    text-transform: uppercase;
    color: #4D4D4D;
}

.dnj-basket-items--border {
    border-bottom: 1px solid #EEEEEE;
    padding: .5rem 0;
}

    .dnj-basket-items--border:last-of-type {
        border-color: transparent;
    }

.dnj-basket-items-margin-left1 {
    margin-left: 1px;
}

.dnj-basket-item {
    font-size: 1rem;
    font-weight: 300;
}

.dnj-basket-item--middle {
    line-height: 8rem;
}

@media screen and (max-width: 1024px) {
    .dnj-basket-item--middle {
        line-height: 1rem;
    }
}

.dnj-basket-item--mark {
    color: #EF7C8D;
}

/*.dnj-basket-image {
    height: 8rem;
}*/

.dnj-basket-input {
    line-height: 1rem;
    width: 100%;
}

.dnj-basket-checkout {
    background-color: #FC629D;
    border: 0;
    border-radius: 0;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.35s;
    width: 100%;
}

    .dnj-basket-checkout:hover {
        color: #fff;
        background-color: #FC2A7B;
        transition: all 0.35s;
    }

@media (max-width: 576px) {
    .dnj-basket-checkout {
        padding: 10px 10px;
    }

    .dama-basket-link {
        font-size: 14px;
    }
}

.basket-hr {
    border-width: 3px;
}

.dama-basket-label {
    font-size: 14px;
}

@media (max-width: 576px) {
    .dama-basket-item {
        font-size: 14px;
    }
}

.dama-basket-btn {
    background: none;
    border: 0;
    cursor: pointer;
}

.dnj-identity-item a {
    color: #808080;
}

    .dnj-identity-item a:hover {
        text-decoration: underline !important;
        color: #fff !important;
        transition: color 0.35s;
    }

.offer-card-price::after {
    content: '€';
}

.offerCard input, .offerCard textarea, .observationCard textarea {
    font-size: 14px;
}

.offer-cancel {
    color: #4D4D4D;
}

    .offer-cancel:hover {
        color: #4D4D4D;
        text-decoration: underline;
    }

.dnj-basket-price {
    font-size: 22px;
    font-weight: 100;
    text-align: center;
}

    .dnj-basket-price::after {
        content: '€';
    }

/* Checkout */
.dama-checkout-text span {
    font-size: 14px;
}

@media (min-width: 576px) {
    .dama-checkout-btn {
        position: absolute;
        bottom: -60px;
    }
}

.dama-register-bird {
    top: -35px;
    left: -123px;
    z-index: -5;
}
@media (max-width: 576px) {
    .btn-block-xs {
        display: block;
        width: 100%;
    }
}

#deliverySection {
    width:300px;
    text-align: left;
}

#copyInvoiceSection {
    width: 305px;
    text-align:left;
}