@page "/tipos-de-produto/{message?}"

<h2>Tipos de Produto</h2>
<p>
    <a href="/tipos-de-produto/novo">Novo Tipo de Produto</a>
</p>
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-success" role="alert">
        @Message
    </div>
}
@if (productTypes == null)
{
    <p><em>A carregar...</em></p>
}
else
{
}