@page "/tipos-de-produto/{message?}"
@using DamaAdmin.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<h2>Tipos de Produto</h2>
<p>
    <a href="/tipos-de-produto/novo">Novo Tipo de Produto</a>
</p>
@if (!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-success" role="alert">
        @Message
    </div>
}
@if (productTypes == null)
{
    <p><em>A carregar...</em></p>
}
else
{
}

@code {
    private ProductTypeViewModel[] productTypes;
    private Modal Modal { get; set; }

    [Parameter]
    public string Message { get; set; }

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
