@page "/"
@attribute [Authorize]

<div class="row">
    <div class="col-md-12">
        <img src="/images/dama_backoffice.jpg" width="100%" alt="Dama Backoffice" />
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <div class="card-deck">
            <div class="card" style="width: 18rem;">
                <a href="/categorias">
                    <img src="/images/category.jpg" class="card-img-top" alt="Categorias">
                </a>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/productType.jpg" class="card-img-top" alt="Tipos de Produto">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/illustration.jpg" class="card-img-top" alt="Ilustrações">
            </div>
            <div class="card" style="width: 18rem;">
                <img src="/images/product.jpg" class="card-img-top" alt="Produtos">
            </div>
        </div>
    </div>
</div>