@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <nav id="cookieConsent" class="navbar navbar-expand-md navbar-light bg-light fixed-bottom d-none d-sm-block" role="alert">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cookieConsent" aria-controls="cookieConsent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-brand"><span class="fas fa-info-circle" aria-hidden="true"></span></span>
            </div>
            <div class="collapse navbar-collapse">
                <p class="navbar-text small">
                    Para lhe podermos proporcionar os nossos serviços e a melhor experiência, a Damanojornal utiliza cookies neste site. Ao continuar no site está a consentir a sua utilização.
                </p>
                <div class="ml-auto">
                    <a href="https://cookiesandyou.com/" target="_blank" class="btn btn-info navbar-btn btn-sm">Saber mais</a>
                    <button type="button" class="btn btn-secondary navbar-btn btn-sm" data-cookie-string="@cookieString">Aceitar</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").setAttribute("hidden", "");
            }, false);
        })();
    </script>
}