<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Loja</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/app.css" />
        <link href="~/lib/slick-1.8.0/slick/slick-theme.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/app.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/app.component.css" />
    <link rel="stylesheet" href="~/css/basket/basket.component.css" />
    <link rel="stylesheet" href="~/css/catalog/pager.css" />
    <link rel="stylesheet" href="~/css/catalog/catalog.component.css" />
    <link rel="stylesheet" href="~/css/basket/basket-status/basket-status.component.css" />
    <link rel="stylesheet" href="~/css/orders/orders.component.css" />
    <link rel="stylesheet" href="~/lib/slick-1.8.0/slick/slick.css" />
    @RenderSection("styles", required: false)
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark top-nav pt-0 pb-0 pl-5 pr-5 d-none d-sm-flex pt-sm-3">
        <a href="https://www.damanojornal.com" class="navbar-brand">
            <img src="~/images/brand_full.png" width="150" alt="Dama no Jornal" />
        </a>
        <form class="form-inline my-2 my-lg-0 search-text" asp-page="/Search/Index" method="get">
            <input id="search" name="q" class="bg-transparent border-left-0 border-right-0 border-top-0 border-light" autocomplete="off" type="search" placeholder="Procurar" aria-label="Search">
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-stretch" id="navbar7">
            <ul class="navbar-nav ml-auto">
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </nav>

    <nav class="navbar navbar-dark navbar-expand-md justify-content-between background_gradient pb-md-4 d-none d-sm-flex">
        <a href="/" class="pl-3 pl-lg-5 backToHome"><i class="fas fa-arrow-left"></i><span>Voltar ao início</span></a>
        <div class="d-flex d-sm-none dama-login-mobile pl-5">
            @await Html.PartialAsync("_LoginPartial")
        </div>
        <div class="navbar-collapse collapse justify-content-center text-center">
            <div></div>
            @await Component.InvokeAsync("Menu")
        </div>
        <ul class="nav navbar-nav justify-content-end pr-5" style="width:188px">
            <li class="social-links"><a class="nav-link" href=""><i class="fab fa-facebook-f fa-inverse"></i></a></li>
            <li class="social-links"><a class="nav-link" href=""><i class="fab fa-instagram"></i></a></li>
            <li class="social-links"><a class="nav-link" href=""><i class="fab fa-google-plus-g"></i></a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-dark navbar-expand-md justify-content-between background_gradient pb-md-4 d-flex d-sm-none">
        <a id="brand-mobile-image" class="navbar-brand" href="https://www.damanojornal.com">
            <img src="~/images/brand.png" width="50px;" alt="Dama no Jornal" />
        </a>
        <ul class="list-inline ml-auto">
            @await Html.PartialAsync("_LoginPartial")
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse text-center" id="collapsingNavbar">
            <div></div>
            @await Component.InvokeAsync("Menu")
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#searchModal">PROCURAR</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="width:80%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Procurar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline" asp-page="/Search/Index" method="get">
                        <input name="q" class="form-control" autocomplete="off" type="search" placeholder="Procurar" aria-label="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>


    <footer class="esh-app-footer">
        <div class="container">
            <article class="row">
                <section class="offset-sm-2 col-sm-4">
                    <div class="text-center footer-img">
                        <img width="319px" src="~/images/flor-com-logo-1.png" />
                    </div>
                    <div class="esh-app-footer-text footer-text"> © Copyright 2018 Dama no Jornal | All Rights Reserved </div>
                </section>
                <section class="col-12 col-sm-4 footer-links text-center">
                    <div class="footer-link text-center">
                        <a href="#">FAQ</a>
                    </div>
                    <div class="footer-link text-center">
                        <a href="#">Eventos</a>
                    </div>
                    <div class="footer-link text-center">
                        <a href="#">Contactos</a>
                    </div>
                    <div class="footer-link text-center text-nowrap">
                        <a href="#">Termos e Condições</a>
                    </div>
                    <div class="footer-link text-center">
                        <i class="fab fa-facebook-f fa-inverse"></i>
                        <i class="fab fa-instagram fa-inverse"></i>
                        <i class="fab fa-google-plus-g fa-inverse"></i>
                    </div>
                    <div class="esh-app-footer-text footer-text-mobile"> © Copyright 2017 Dama no Jornal | All Rights Reserved </div>
                </section>
            </article>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/fontawesome-free-5.0.4/js/fontawesome-all.js"></script>
        <script src="~/lib/slick-1.8.0/slick/slick.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"
                asp-fallback-src="~/lib/fontawesome-free-5.0.4/js/fontawesome-all.js">
        </script>
        <script src="~/lib/slick-1.8.0/slick/slick.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
