@using Microsoft.AspNetCore.Identity

@if (Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item px-2 px-sm-0">
        <a class="nav-link"
           asp-page="/Order/Index" title="As Minhas Encomendas">
            <i class="fas fa-shopping-bag fa-lg"></i>
        </a>
    </li>
    <li class="nav-item px-2 px-sm-0">
        <a class="nav-link"
           asp-page="/Account/Manage/Index"
           title="O meu perfil">
            <i class="fas fa-user fa-lg"></i>
        </a>
    </li>
    <li class="nav-item px-2 px-sm-0">
        <form asp-controller="Account" asp-action="Logout" method="post"
              id="logoutForm">
            <a class="nav-link"
               href="javascript:document.getElementById('logoutForm').submit()"
               title="Logout">
                <i class="fas fa-sign-out-alt fa-lg"></i>
            </a>
        </form>
    </li>
    <li class="nav-item px-2 px-sm-0">
        @await Component.InvokeAsync("Basket")
    </li>
}
else
{
    <li class="nav-item px-2 px-sm-0">
        <a asp-page="/Account/Signin" class="nav-link">
            <i class="fas fa-user fa-lg"></i>
        </a>
    </li>
    <li class="nav-item px-2 px-sm-0">
        @await Component.InvokeAsync("Basket")
    </li>
}
