@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmação de Email";
}

<h1 class="text-uppercase">@ViewData["Title"]</h1>
<div>
    <p>
        Obrigado por confirmares o teu email.
    </p>
</div>
