@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de password!";
}

<h1 class="text-uppercase">@ViewData["Title"]</h1>
<p>
    Por favor confirma o teu email para recuperar a tua password.
</p>
