@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação de recuperação de password";
}

<h1 class="text-uppercase">@ViewData["Title"]</h1>
<p>
    A sua password foi recuperada. Por favor <a asp-page="./Signin">clique aqui para fazer login</a>.
</p>
