.dnj-orders {
    min-height: 80vh;
    overflow-x: hidden;
}

.dnj-orders-titles {
    font-weight: 600;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.dnj-orders-title {
    text-transform: uppercase;
}

.dnj-orders_detail .border-right {
    border-right-style: dashed !important;
}

.dnj-orders_detail-titles {
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 576px) {
    .dnj-orders-items {
        height: 2.5rem;
        line-height: 2rem;
    }
}

.dnj-orders-item {
    font-weight: 300;
}

@media (max-width: 576px) {
    .dnj-orders-item {
        height: 1.8rem;
    }

    .dnj-orders_detail h2 {
        font-size: 1rem;
    }
}

.dnj-orders-items:hover .dnj-orders-item--hover {
    opacity: 1;
    pointer-events: all;
}

.dnj-orders-link-detail,
.dnj-orders-link-detail:active,
.dnj-orders-link-detail:visited {
    color: #88C9AC;
    text-decoration: none;
    transition: color 0.35s;
}

.dnj-orders-link-cancel,
.dnj-orders-link-cancel:active,
.dnj-orders-link-cancel:visited {
    color: #808080;
    text-decoration: none;
    transition: color 0.35s;
}

.dnj-orders-link-detail:hover {
    color: #58AD87;
    text-decoration: underline;
    transition: color 0.35s;
}

.dnj-orders-link-cancel:hover {
    color: #636262;
    text-decoration: underline;
    transition: color 0.35s;
}

.dama-orders-title-mobile {
    color: #000000;
    font-weight: bold;
}

.order-customize-colors {
    width: 20px;
    height: 20px;
    display: inline-flex;
}