@page
@model Backoffice.Areas.Grocery.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Criar Novo Produto";
}

<h2>Sabor com Tradição - Criar</h2>

<h4>Produto</h4>
<hr />
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatalogItem.Name" class="control-label">Nome</label>
                <input asp-for="CatalogItem.Name" class="form-control" />
                <span asp-validation-for="CatalogItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogItem.Price" class="control-label">Preço</label>
                <input asp-for="CatalogItem.Price" class="form-control decimal" />
                <span asp-validation-for="CatalogItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture" class="form-control" />
                <small>(quadrado)</small>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogItem.CatalogTypeId" class="control-label">Tipo de Produto</label>
                <select asp-for="CatalogItem.CatalogTypeId" class="form-control" asp-items="ViewBag.CatalogTypeId"></select>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="CatalogItem.ShowOnShop" /> Ativo
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-4">
            <h4>Categorias</h4>
            <ul id="category-list">
                @for (int i = 0; i < Model.CatalogCategoryModel.Count; i++)
                {
                    <li class="parent-category">
                        <label asp-for="CatalogCategoryModel[i].Selected">
                            <input type="hidden" asp-for="CatalogCategoryModel[i].CategoryId" />
                            <input type="checkbox" asp-for="CatalogCategoryModel[i].Selected" class="parent-checkbox" cat-id="@Model.CatalogCategoryModel[i].CategoryId" />
                            @Model.CatalogCategoryModel[i].Label
                        </label>

                        @if (Model.CatalogCategoryModel[i].Childs.Count > 0)
                        {
                            <ul>
                                @for (int j = 0; j < Model.CatalogCategoryModel[i].Childs.Count; j++)
                                {
                                    <li>
                                        <label asp-for="CatalogCategoryModel[i].Childs[j].Selected">
                                            <input type="hidden" asp-for="CatalogCategoryModel[i].Childs[j].CategoryId" />
                                            <input type="checkbox" asp-for="CatalogCategoryModel[i].Childs[j].Selected" class="child-checkbox" cat-id="@Model.CatalogCategoryModel[i].Childs[j].CategoryId" />
                                            @Model.CatalogCategoryModel[i].Childs[j].Label
                                        </label>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</form>
<div>
    <a asp-page="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
