@page
@model NotFoundModel
@{
    ViewData["Title"] = "Ops";
}

<div class="row">
    <div class="offset-sm-3 col-sm-6">
        <img src="~/images/oooops.png" class="img-fluid" alt="Dama no Jornal"  />
    </div>
</div>
<div class="row justify-content-center mt-5">
    <a asp-page="/Index" class="btn btn-primary" role="button">Clique aqui para voltar à loja!</a>
</div>


