@page
@model DamaWeb.Pages.Category.Type.IndexModel
@{
    if (!string.IsNullOrEmpty(HttpContext.Request.Query["p"]))
    {
        ViewBag.NoIndex = true;
    }
}
<h1 class="title">@Model.CatalogTypeModel.Name</h1>

<div id="todos" class="news-heading text-center">
    <h2 class="lily">Todos os Produtos</h2>
    <img class="separator" src="~/images/barra-coracao.png" />
</div>

<div class="container">
    @if (Model.CatalogTypeModel.CatalogModel.CatalogItems.Any())
    {
        <div class="esh-catalog-items row">
            @foreach (var catalogItem in Model.CatalogTypeModel.CatalogModel.CatalogItems)
            {
                <div class="esh-catalog-item col-md-3">
                    @await Html.PartialAsync("_product", catalogItem)
                </div>
            }
        </div>
        <partial name="_pagination" for="CatalogTypeModel.CatalogModel.PaginationInfo" />
    }
    else
    {
        <div class="text-center">
            <p>Lamentamos, mas não foram encontrados resultados!</p>
        </div>
    }
</div>
<partial name="_DescriptionSection" for="CatalogTypeModel.DescriptionSection" />
<partial name="_productAdded" />

@section Scripts {
    <script src="~/js/pages/type.js" asp-append-version="true"></script>
} 