@page
@model Backoffice.Pages.Products.Attributes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Atributo do produto @Model.ProductName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatalogAttributeModel.Type" class="control-label"></label>
                <select asp-for="CatalogAttributeModel.Type" asp-items="Html.GetEnumSelectList<ApplicationCore.Entities.AttributeType>()" class="form-control"></select>
                <span asp-validation-for="CatalogAttributeModel.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogAttributeModel.Name" class="control-label"></label>
                <input asp-for="CatalogAttributeModel.Name" class="form-control" />
                <span asp-validation-for="CatalogAttributeModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogAttributeModel.Stock" class="control-label"></label>
                <input asp-for="CatalogAttributeModel.Stock" class="form-control" />
                <span asp-validation-for="CatalogAttributeModel.Stock" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CatalogAttributeModel.Id" />
            <input type="hidden" asp-for="CatalogAttributeModel.CatalogItemId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Products/Edit" asp-route-id="@Model.CatalogAttributeModel.CatalogItemId">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
