.esh-app-footer {
    background-color: #e0a240;
    border-top: 1px solid #EEEEEE;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 100%;
}
  .esh-app-footer-brand {
    height: 50px;
    width: 230px; }

.esh-app-footer-text {
    color: #fff;
    font-size: 11px;
}