@page
@model Web.Pages.Basket.ResultModel
@{
    ViewData["Title"] = "Result";
}

<h2>Sucesso</h2>
<p>A sua encomenda foi criado com sucesso!</p>
<p>Por favor consulte o seu email</p>
<br />
<p>Obrigado por escolher a Dama no Jornal</p>

