@page
@model SalesWeb.Pages.Basket.ResultModel
@{
    ViewData["Title"] = "Resultado";
}
<h2 class="dama-heading-normal-font">Obrigada!</h2>

<div class="row">
    <div class="col-sm-6">
        <p>A sua encomenda #@Model.OrderNumber foi criada com <strong>Sucesso!</strong></p>
        <p>Para concluir consulte o seu email.</p>
        <br />
        <p>Obrigado por escolher a <strong>Dama no Jornal&reg;!</strong></p>
    </div>
    <div class="col-sm-6">
        <img src="~/images/obrigada.png" class="img-fluid" alt="Dama no Jornal" />
    </div>
</div>


