.esh-basket {
    min-height: 80vh;
}

.esh-basket-titles {
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.esh-basket-titles--clean {
    padding-bottom: 0;
    padding-top: 0;
}

.esh-basket-title {
    text-transform: uppercase;
}

.esh-basket-items--border {
    border-bottom: 1px solid #EEEEEE;
    padding: .5rem 0;
}

    .esh-basket-items--border:last-of-type {
        border-color: transparent;
    }

.esh-basket-items-margin-left1 {
    margin-left: 1px;
}

.esh-basket-item {
    font-size: 1rem;
    font-weight: 300;
}

.esh-basket-item--middle {
    line-height: 8rem;
}

@media screen and (max-width: 1024px) {
    .esh-basket-item--middle {
        line-height: 1rem;
    }
}

.esh-basket-item--mark {
    color: #EF7C8D;
}

/*.esh-basket-image {
    height: 8rem;
}*/

.esh-basket-input {
    line-height: 1rem;
    width: 100%;
}

.esh-basket-checkout {
    background-color: #EF7C8D;
    /*border: 0;
    border-radius: 0;*/
    color: #FFFFFF;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.35s;
}

    .esh-basket-checkout:hover {
        background-color: #eb6075;
        transition: all 0.35s;
    }

@media (max-width: 576px) {
    .esh-basket-checkout {
        padding: 10px 10px;
    }
    .dama-basket-link {
        font-size: 14px;
    }
}

.basket-hr {
    border-width: 3px;
}

.dama-basket-label {
    font-size: 14px;
    color: #808080;
    padding-right: 10px;
}

@media (max-width: 576px) {
    .dama-basket-item {
        font-size: 14px;
    }
}

.dama-basket-btn {
    background: none;
    border: 0;
    cursor: pointer;
}

.esh-identity-item a {
    color: #808080;
}

.esh-identity-item a:hover {
    text-decoration: underline !important;
    color: #fff !important;
    transition: color 0.35s;
}

/* Checkout */
.dama-checkout-text span{
    font-size: 14px;
}
.dama-checkout-items {
    font-size: 14px;
}
@media (min-width: 576px) {
    .dama-checkout-btn {
        position: absolute;
        bottom: -60px;
    }
}

.dama-checkout-border {
    border: 1px solid #EF7C8D;
}