@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-12">
        <img src="~/images/dama_backoffice.jpg" width="100%" alt="Dama Backoffice" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/images/category.jpg" alt="...">
            <div class="caption">
                <h3>Categorias</h3>                
                <p><a asp-page="/Category/Index" class="btn btn-primary" role="button">Ver</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/images/productType.jpg" alt="...">
            <div class="caption">
                <h3>Tipos de Produto</h3>
                <p><a asp-page="/ProductType/Index" class="btn btn-primary" role="button">Ver</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/images/illustration.jpg" alt="...">
            <div class="caption">
                <h3>Ilustrações</h3>                
                <p><a asp-page="/Illustrations/Index" class="btn btn-primary" role="button">Ver</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/images/product.jpg" alt="...">
            <div class="caption">
                <h3>Produtos</h3>
                <p><a asp-page="/Products/Index" class="btn btn-primary" role="button">Ver</a></p>
            </div>
        </div>
    </div>
</div>
