@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-md-12">
        <img src="~/images/dama_backoffice.jpg" width="100%" alt="Dama Backoffice" />
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <a asp-page="/Category/Index">
            <div class="thumbnail">
                <img src="~/images/category.jpg" alt="Categorias">
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-page="/ProductType/Index">
            <div class="thumbnail">
                <img src="~/images/productType.jpg" alt="Tipos de Produto">
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-page="/Illustrations/Index">
            <div class="thumbnail">
                <img src="~/images/illustration.jpg" alt="Ilustrações">
            </div>
        </a>
    </div>
    <div class="col-md-3">
        <a asp-page="/Products/Index">
            <div class="thumbnail">
                <img src="~/images/product.jpg" alt="Produtos">
            </div>
        </a>
    </div>
</div>
