.fil2 {
    fill: #FF96BE
}

.fil1 {
    fill: #FFB8D3
}

.fil0 {
    fill: #FFE3EE
}

.dnj-app-footer {
    background-color: #FF96BE;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
}

.footer-links {
    padding-top: 30px;
}

.footer-link {
    width: 100%;
    padding: 5px 5px;
    text-transform: uppercase;
}

#newsletterSection {
    margin-top: 70px;
}

.footer-waves {
    /*top: -230px;
    position: relative;
    z-index: -5;*/
}
@media screen and (max-width:540px) {
    .dnj-app-footer {
        margin-top: 0px;
    }
    #copyText {
        font-size: 12px;
    }
}

@media screen and (max-width: 992px) {
    .consentText {
        font-size: 10px;
    }
}
