#topbar a, #footer-social a {
    color: #fff;
    transition: transform .2s;
}

    #topbar a:hover, #footer-social a:hover {
        transform: scale(1.5);
    }

.dama-bar {
    height: 20px;
    background-image: url("../../images/barra.png");
    background-repeat: repeat-x;
    z-index: 25;
    position: relative;
}

.topActioncollapse.collapsing {
    position: absolute !important;
    z-index: 20;
    width: 100%;
    top: 69px;
}

.topActioncollapse.collapse.show {
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
    top: 69px;
}


.btn-personalizar {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    right: 15px;
    border-bottom: 45px solid #FC629D;
    border-left: 25px solid rgba(0, 0, 0, 0);
    height: 0px;
    top: -36px;
    color: #fff;
    font-family: "Going Foward", sans-serif;
    font-size: 30px;
}

    .btn-personalizar:hover {
        color: #fff;
        border-bottom-color: #FC2A7B;
    }

/*navigation*/
.nav-link {
    font-size: 15px;
}

.dama-header-link .nav-link {
    font-size: 12px;
}

@media screen and (min-width: 540px) {
    #navbarMain {
        border-top: 2px solid #FC629D;
        border-bottom: 2px solid #FC629D;
    }
}

#navbarMain a {
    color: #FC629D;
}

    #navbarMain a:hover {
        color: #7A7A7A;
    }

.divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-left: 1px dotted #f2f2f2;
    border-right: 1px dotted #ffffff;
}

#topbar .fa-stack {
    font-size: 0.8em;
}

.icon-background {
    color: #fff;
}

.dropdown-menu {
    background-color: #fff;
    color: #00A69C;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px #b2b2b2;
}

.dropdown-item {
    color: #FC629D !important;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    padding: 15px;
    margin: auto;
}

@media screen and (max-width:540px) {
    .dropdown-toggle::after {
        float: right;
        font-size: 25px;
    }

    #navbarMain {
        box-shadow: 0px 0px 10px #b2b2b2;
    }

    #containerMain {
        margin: initial;
        position: absolute;
        right: 0px;
        left: 26px;
        background-color: white;
        z-index: 2;
        top: 5px;
        width: 257px;
    }

    #customizeLinkMenu {
        background-color: #FC629D;
    }

        #customizeLinkMenu a {
            color: #fff;
        }
}

@media screen and (min-width: 992px) {

    .dropdown-item:hover {
        background-color: #FC629D;
        transition: background-color 0.35s;
    }

        .dropdown-item:hover > .dropdown-item-text {
            background-color: transparent;
            color: #fff;
        }

    .dropdown:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-toggle:hover > .dropdown-menu {
        display: block;
    }
}
