@page
@model DamaWeb.Pages.Basket.ResultModel
@{
    ViewData["Title"] = "Resultado";
}

<div class="row align-items-center justify-content-center">
    <div class="dama-customize offset-1 col-sm-5 text-center">
        <h3 class="mb-5">Obrigada!</h3>
        <p class="mt5">Obrigada por nos enviares o teu pedido!<br />
        Serás contactado em breve para darmos seguimento à personalização.</p>
    </div>
    <div class="col-sm-5">
        <img src="~/images/obrigada.png" class="img-fluid" alt="Dama no Jornal" />
    </div>
</div>


