@page
@model Backoffice.RazorPages.Pages.IllustrationTypes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Remover</h2>

<h3>Tem a certeza que quer remover o registo?</h3>
<div>
    <h4>Tipo de Ilustração</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationType.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationType.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IllustrationType.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IllustrationType.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="IllustrationType.Id" />
        <input type="submit" value="Remover" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar para a lista</a>
    </form>
</div>
