@page
@model Web.Pages.Basket.ResultModel
@{
    ViewData["Title"] = "Resultado";
}
<h2>Obrigada!</h2>

<div class="row">
    <div class="col-sm-6">
        <p>O seu pedido foi criado com <strong>Sucesso!</strong></p>
        <p>Vamos analisar o seu pedido e logo entraremos em contato.</p>
        <br />
        <p>Obrigado por escolher a <strong>Dama no Jornal&reg;!</strong></p>
    </div>
    <div class="col-sm-6">
        <img src="http://via.placeholder.com/300x500" alt="Dama no Jornal" />
    </div>
</div>


