@page

@model DamaWeb.Pages.Tag.IndexModel
@{
    ViewData["Title"] = Model.TagName;
    if (!string.IsNullOrEmpty(HttpContext.Request.Query["p"]))
    {
        ViewBag.NoIndex = true;
    }
}

<h2 id="todos" class="title">Resultados para: @Model.TagName</h2>

<div class="news-heading text-center">
    <img class="separator" src="~/images/barra-coracao.png" />
</div>

<div class="container">
    <div class="esh-catalog-items row">
        @foreach (var catalogItem in Model.CatalogModel.CatalogItems)
        {
            <div class="dnj-catalog-item col-md-3">
                @await Html.PartialAsync("_product", catalogItem)
            </div>
        }
        @if (Model.CatalogModel.CatalogItems.Count() == 0)
        {
            <div class="text-center">
                <p>Lamentamos, mas não foram encontrados resultados!</p>
            </div>
        }
    </div>
    @if (Model.CatalogModel.CatalogItems.Count() > 0)
    {
        @await Html.PartialAsync("_pagination", Model.CatalogModel.PaginationInfo, new ViewDataDictionary(ViewData) { { "SearchFor", Model.Tag }, { "TagName", Model.TagName }, { "TypeId", Model.CatalogModel.TypesFilterApplied }, { "IllustrationId", Model.CatalogModel.IllustrationFilterApplied } })
    }
</div>

<partial name="_productAdded" />