.btn-outline-pink, .btn-outline-pink:active, .btn-outline-pink:visited {
    border-color: #FC629D;
    color: #FC629D;
    border-radius: 0 !important;
    background-color: #fff;
}

    .btn-outline-pink:hover {
        background-color: #88C9AC;
        color: #fff;
        border-color: #88C9AC;
    }

.btn-outline-menta, .btn-outline-menta:active, .btn-outline-menta:visited {
    border-color: #88C9AC;
    color: #88C9AC;
    border-radius: 0 !important;
    background-color: #fff;
}

    .btn-outline-menta:hover {
        background-color: #88C9AC;
        color: #fff;
        border-color: #88C9AC;
    }

.link-dama-black {
    color: #000000;
    text-decoration: underline;
}

    .link-dama-black:hover {
        color: #58AD87;
    }

.border-menta {
    border-color: #88C9AC !important;
}

.dama-product-input {
    font-size: 0.80rem;
}

.slick-prev {
    left: 10px !important;
    z-index: 1;
}

.slick-next {
    right: 10px !important;
}


.slider-for img {
    width: 100%;
    margin: 0 auto; /* it centers any block level element */
}

.dama-product-title {
    color: #54595f;
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
}

.dama-product-price {
    color: #000000;
}

    .dama-product-price::after {
        content: '€ ';
    }

.dama-product-description {
    font-size: 14px;
}

.dama-product-attr .col-form-label {
    color: #929292;
    font-size: 14px;
}

.dama-product-attr .form-control {
    color: #333;
    font-size: 14px;
}

.dama-product-attr span {
    font-size: 12px;
}

.dama-product-attr a {
    font-size: 14px;
}

.dama-product-add {
    background-color: #FC629D;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 2.5rem;
    transition: all 0.35s;
    width: 100%;
}

    .dama-product-add:hover {
        background-color: #FC2A7B;
        transition: all 0.35s;
    }

@media screen and (min-width: 992px) {
    .dama-product-title-mobile {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .dama-product-title {
        display: none;
    }

    .dama-product-thumbnails {
        display: none;
    }

    .slider-for img {
        height: auto;
        width: auto;
    }
}

.esh-catalog-hero {
    background-image: url("../../images/main_banner.png");
    background-size: cover;
    height: 260px;
    width: 100%;
}

.esh-catalog-title {
    position: relative;
    top: 74.28571px;
}

.esh-catalog-filters {
    background-color: #5cc0c0;
    height: 75px;
}

.esh-catalog-filter {
    -webkit-appearance: none;
    background-color: transparent;
    border-color: #03958c;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 1rem;
    margin-top: .5rem;
    min-width: 120px;
    max-width: 135px;
    outline-color: #83D01B;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
}
.esh-catalog-filter option {
    background-color: #5cc0c0;
}

.esh-catalog-label {
    display: inline-block;
    position: relative;
    z-index: 0;
}

    .esh-catalog-label::before {
        color: rgba(255, 255, 255, 0.5);
        content: attr(data-title);
        font-size: 0.65rem;
        margin-left: 0.5rem;
        margin-top: 0.65rem;
        position: absolute;
        text-transform: uppercase;
        z-index: 1;
    }

    .esh-catalog-label::after {
        background-image: url("../../images/angle-down.svg");
        content: '';
        height: 20px;
        position: absolute;
        right: 1.5rem;
        top: 2.5rem;
        width: 10px;
        z-index: 1;
    }

.esh-catalog-send {
    background-color: #ef7c8d;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    margin-top: -1.5rem;
    padding: 0.5rem;
    transition: all 0.35s;
}

    .esh-catalog-send:hover {
        background-color: #e9435b;
        transition: all 0.35s;
    }

.esh-catalog-items {
    margin-top: 1rem;
}

.esh-catalog-item {
    margin-bottom: 1.5rem;
    text-align: center;
    width: 33%;
    display: inline-block;
    float: none !important;
}

@media screen and (max-width: 1024px) {
    .esh-catalog-item {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .esh-catalog-item {
        width: 100%;
    }
}

.esh-catalog-thumbnail {
    max-width: 370px;
    width: 100%;
}

.esh-catalog-button {
    background-color: #FC629D;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    height: 3rem;
    margin-top: 1rem;
    transition: all 0.35s;
    width: 80%;
    border-radius: 0;
}

.esh-catalog-button.is-disabled {
    opacity: .5;
    pointer-events: none;
}

    .esh-catalog-button:hover {
        background-color: #FC2A7B;
        transition: all 0.35s;
    }

.esh-catalog-name {
    font-size: 18px;
    font-weight: 600;
    margin-top: .5rem;
    text-align: center;
    text-transform: uppercase;
}

.esh-catalog-price {
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}

    .esh-catalog-price::after {
        content: '€';
    }

.slick-arrow {
    color: #ef7e8e;
}
