@page
@model SalesWeb.Pages.Sage.CallbackModel
@{
    ViewData["Title"] = "Autenticação Sage";
}

<h2>Autenticação Sage</h2>
<h4>Estado: @Model.Status</h4>
<br />
<h4>AccessToken: @Model.AccessToken</h4>
<h4>RefreshToken: @Model.RefreshToken</h4>

