@page
@model DamaWeb.Pages.Basket.ResultModel
@{
    ViewData["Title"] = "Resultado";
}
<h2 class="dama-heading-normal-font">Obrigada!</h2>

<div class="row">
    <div class="col-sm-6">
        <p>A sua encomenda foi criada com <strong>Sucesso!</strong></p>
        <p>Para concluir consulte o seu email.</p>
        <br />
        <p>Obrigado por escolher a <strong>Dama no Jornal&reg;!</strong></p>
    </div>
    <div class="col-sm-6">
        <img src="http://via.placeholder.com/300x500" alt="Dama no Jornal" />
    </div>
</div>


