@page
@model Backoffice.Pages.ProductType.CreateModel

@{
    ViewData["Title"] = "Novo";
}

<h2>Novo</h2>

<h4>Tipo de Produto</h4>
<hr />
<div class="row">

    <form method="post" enctype="multipart/form-data">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Code" class="control-label"></label>
                <input asp-for="ProductTypeModel.Code" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Description" class="control-label"></label>
                <input asp-for="ProductTypeModel.Description" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.CategoriesId" class="control-label"></label>
                <select asp-for="ProductTypeModel.CategoriesId" class="form-control" asp-items="ViewBag.CategoryId" multiple="multiple"></select>
                <span asp-validation-for="ProductTypeModel.CategoriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Price" class="control-label"></label>
                <input asp-for="ProductTypeModel.Price" class="form-control decimal" />
                <span asp-validation-for="ProductTypeModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.AdditionalTextPrice" class="control-label"></label>
                <input asp-for="ProductTypeModel.AdditionalTextPrice" class="form-control decimal" />
                <span asp-validation-for="ProductTypeModel.AdditionalTextPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Picture" class="control-label"></label>
                <input type="file" asp-for="ProductTypeModel.Picture" class="form-control" />
                <small>(quadrado)</small>
                <span asp-validation-for="ProductTypeModel.Picture" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group col-md-12" style="padding:0px">
                    <label asp-for="ProductTypeModel.DeliveryTimeMin"></label>
                    <input asp-for="ProductTypeModel.DeliveryTimeMin" class="form-control" />
                    <label asp-for="ProductTypeModel.DeliveryTimeMax"></label>
                    <input asp-for="ProductTypeModel.DeliveryTimeMax" class="form-control" />
                    <label>Unidade</label>
                    <select asp-for="ProductTypeModel.DeliveryTimeUnit" class="form-control" asp-items="Html.GetEnumSelectList<ApplicationCore.Entities.DeliveryTimeUnitType>()"></select>
                    <br />
                    <span asp-validation-for="ProductTypeModel.DeliveryTimeMin" class="text-danger"></span>
                    <span asp-validation-for="ProductTypeModel.DeliveryTimeMax" class="text-danger"></span>
                    <span asp-validation-for="ProductTypeModel.DeliveryTimeUnit" class="text-danger"></span>
                </div>                                 
            </div>
        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-page="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#ProductTypeModel_CategoriesId').select2();
        });
    </script>
}
