@page
@model Backoffice.Pages.ProductType.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>
@await Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<h4>Tipo de Produto</h4>
<hr />
<div class="row">

    <form method="post" enctype="multipart/form-data">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Code" class="control-label"></label>
                <input asp-for="ProductTypeModel.Code" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Description" class="control-label"></label>
                <input asp-for="ProductTypeModel.Description" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Slug" class="control-label"></label>
                <input asp-for="ProductTypeModel.Slug" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.CategoriesId" class="control-label"></label>
                <select asp-for="ProductTypeModel.CategoriesId" class="form-control" asp-items="ViewBag.CategoryId" multiple="multiple"></select>
                <span asp-validation-for="ProductTypeModel.CategoriesId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Price" class="control-label"></label>
                <input asp-for="ProductTypeModel.Price" class="form-control decimal" />
                <span asp-validation-for="ProductTypeModel.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.AdditionalTextPrice" class="control-label"></label>
                <input asp-for="ProductTypeModel.AdditionalTextPrice" class="form-control decimal" />
                <span asp-validation-for="ProductTypeModel.AdditionalTextPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Weight" class="control-label"></label>
                <input asp-for="ProductTypeModel.Weight" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.FormFileTextHelpers" class="control-label"></label>
                <input type="file" asp-for="ProductTypeModel.FormFileTextHelpers" class="form-control" multiple />
                <small>(se mais que uma foto, o utilizador terá que escolher uma)</small><br />
                <small>(Ao escolheres fotos, vão ser eliminadas as antigas. Envia sempre as imagens das opções todas)</small><br />
                <span asp-validation-for="ProductTypeModel.FormFileTextHelpers" class="text-danger"></span>
                @if (Model.ProductTypeModel?.PictureTextHelpers?.Count > 0)
                {
                    <div class="row">
                        @foreach (var item in Model.ProductTypeModel.PictureTextHelpers)
                        {
                            <div class="col-md-6">
                                <img src="@item.PictureUri" class="img-thumbnail" />
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a asp-page="./Edit" asp-page-handler="RemoveAdditionalImages" asp-route-id="@Model.ProductTypeModel.Id" class="btn btn-danger" role="button">Remover imagens</a>
                        </div>
                    </div>
                }
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Picture" class="control-label"></label>
                <input type="file" asp-for="ProductTypeModel.Picture" class="form-control" />
                <small>(quadrado)</small>
                <span asp-validation-for="ProductTypeModel.Picture" class="text-danger"></span>
                <img src="@Model.ProductTypeModel.PictureUri" class="img-thumbnail" />
            </div>
        </div>
        <div class="col-md-offset-2 col-md-6">
            <h4>SEO</h4>
            <div class="form-group">
                <label asp-for="ProductTypeModel.MetaDescription" class="control-label"></label>
                <textarea asp-for="ProductTypeModel.MetaDescription" class="form-control"></textarea>
                <span asp-validation-for="ProductTypeModel.MetaDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductTypeModel.Title" class="control-label"></label>
                <input asp-for="ProductTypeModel.Title" class="form-control" />
                <span asp-validation-for="ProductTypeModel.Title" class="text-danger"></span>
                <small>(se vazio assume a descrição do tipo do produto)</small>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-inline">
                <div class="form-group col-md-12" style="padding:0px">
                    <label asp-for="ProductTypeModel.DeliveryTimeMin"></label>
                    <input asp-for="ProductTypeModel.DeliveryTimeMin" class="form-control" />
                    <label asp-for="ProductTypeModel.DeliveryTimeMax"></label>
                    <input asp-for="ProductTypeModel.DeliveryTimeMax" class="form-control" />
                    <label>Unidade</label>
                    <select asp-for="ProductTypeModel.DeliveryTimeUnit" class="form-control" asp-items="Html.GetEnumSelectList<ApplicationCore.Entities.DeliveryTimeUnitType>()"></select>
                    <br />
                    <span asp-validation-for="ProductTypeModel.DeliveryTimeMin" class="text-danger"></span>
                    <span asp-validation-for="ProductTypeModel.DeliveryTimeMax" class="text-danger"></span>
                    <span asp-validation-for="ProductTypeModel.DeliveryTimeUnit" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top:10px;">
            <input type="hidden" asp-for="ProductTypeModel.Id" />
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>


<div>
    <a asp-page="./Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#ProductTypeModel_CategoriesId').select2();

            $('#ProductTypeModel_Description').on('blur', function () {
                $('#ProductTypeModel_Slug').val(slugify(this.value));
            });
        });
    </script>
}
