@page
@model Backoffice.Areas.Grocery.Pages.CatalogTypes.DeleteModel

@{
    ViewData["Title"] = "Remover";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar este registo?</h3>
<div>
    <h4>Tipo de Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Code)
        </dd>
        <dt>
            Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Description)
        </dd>
        <dt>
            Preço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="CatalogType.Id" />
        <input type="submit" value="Remover" class="btn btn-default" /> |
        <a asp-page="./Index">Voltar para a Lista</a>
    </form>
</div>
