@page
@model Backoffice.Areas.Grocery.Pages.CatalogTypes.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Tipo de Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Código
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Code)
        </dd>
        <dt>
            Descrição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Description)
        </dd>
        <dt>
            Preço
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatalogType.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CatalogType.Id">Editar</a> |
    <a asp-page="./Index">Voltar para a Lista</a>
</div>
