@page
@model Backoffice.Areas.Grocery.Pages.CatalogTypes.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h2>Editar</h2>

<h4>Tipo de Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CatalogType.Code" class="control-label">Código</label>
                <input asp-for="CatalogType.Code" class="form-control" />
                <span asp-validation-for="CatalogType.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogType.Description" class="control-label">Descrição</label>
                <input asp-for="CatalogType.Description" class="form-control" />
                <span asp-validation-for="CatalogType.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatalogType.Price" class="control-label">Preço</label>
                <input asp-for="CatalogType.Price" class="form-control" />
                <span asp-validation-for="CatalogType.Price" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CatalogType.Id" />
            <div class="form-group">
                <input type="submit" value="Gravar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
